/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

ul {
  margin-left: 20px;
  list-style-type: initial;
  margin-bottom: 2em;
}

  ul.post li {
    line-height: 1.75;
  }

ol {
  list-style-type: decimal;
  margin-left: 20px;
  margin-bottom: 2em;
}
/*  ol.post li {
    line-height: 1.75;
  }
*/
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
    font-size: 90%;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

  .site .signoff {
    margin-top: 30px; }

 .paging a {
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    opacity: 0.25; }

 .paging a:hover {
    opacity: 0.7;
    background: none; }

 .paging .left, .paging .right {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 60px; }

 .paging .left {
    margin-left: -370px; }

 .paging .right {
    margin-left: 350px; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

pre.post {
    border:1px solid #999;
    page-break-inside:avoid;
}
code,pre {
    padding:0 3px 2px;
    font-family:Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size:12px;
    color:#333333;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
code {
    padding:2px 4px;
    color:#d14;
    background-color:#f7f7f9;
    border:1px solid #e1e1e8;
    white-space:nowrap;
}
pre {
    display:block;
    padding:9.5px;
    margin:0 0 10px;
    font-size:13px;
    line-height:20px;
    word-break:break-all;
    word-wrap:break-word;
    white-space:pre;
    white-space:pre-wrap;
    background-color:#f5f5f5;
    border:1px solid #ccc;
    border:1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
pre code {
    padding:0;
    color:inherit;
    white-space:pre;
    white-space:pre-wrap;
    background-color:transparent;
    border:0;
}

