#footer= '© '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  Theme
  |  by
  a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho.
  |  本作品均采用
  a(rel='license', href='http://creativecommons.org/licenses/by-nc-sa/4.0/')  CC BY-NC-SA 4.0
  |  进行许可。