<html>
<head>
   <meta content='{{ site.title }}' property='og:title' />
   <title>{{ site.title }}</title>
   {% include head.html %}
</head>
<body>
    <div class="wrap">
        <div class="blog-masthead">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/"></a>
                        <h1 class="blog-title"><a href="/">Qiwihui's Page</a></h1>
                    </div>
                    <div class=""></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="blog-post single">
                <div class="blog-post-content">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>

</body>
</html>
