<!doctype html>
<html>
<head>
   <meta content='{{ site.title }}' property='og:title' />
   <title>{{ site.title }}</title>
   {% include head.html %}
</head>
<body>
    <div class="wrap">
        {% include blog-masthead.html %}
        <div class="container">
            <div class="blog-post single">
                <div class="blog-post-content">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>

</body>
</html>
