<html>
<head>
  <meta content='{{ page.title }} - {{ site.title }}' name='title' />
  <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
  <title>{{ page.title }} - {{ site.title }}</title>
  {% include head.html %}
</head>
<body>
    <div class="wrap">
        {% include blog-masthead.html %}
        <div class="container">
            <div class="blog-post single">
                <h2 class="blog-post-title centered">{{ page.title }}</h2>
                <div class="well">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="side-image well-image chris-qiu-avatar col-sm-3"></span>
                        </div>
                        <div class="col-md-9">
                            <h3>{{ site.signoff }}</h3>
                            <p class="well-content">
                                {{ content }}
                            </p>
                        </div>
                    </div>
                </div>
                {% include disqus.html %}

            </div>
        </div>
        {% include footer.html %}
    </div>
</body>
</html>
