<html>
 <head>
   <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
   <title>{{ page.title }} - {{ site.title }}</title>
   {% include head.html %}
 </head>
 <body>
   <div class="site">
    <!-- Blog, RSS, About -->
   {% include header.html %} {% include links.html %}

   <div id='container'>
   <!-- Previous and next page -->
      {% include pages.html %}

      <div class="content">
        <section class='post'>
          <h1>
            {{ page.title }}
            <br>
            <div class='meta'>{{ page.date | date_to_string }}</div>
          </h1>

          {{ content }}
          <!-- Signoff -->
          {% include signoff.html %}
        </section>
      </div>
      <!-- Comments -->
      {% if page.disqus == 'yes' %}
        {% include disqus.html %}
      {% endif %}

    </div>
    <!-- -->
    {% include footer.html %}
    </div>
  </body>
</html>
